@tailwind base;
@tailwind components;
@tailwind utilities;
.fc-timegrid-event-harness-inset {
    max-width: 6em;
}
.ProfNoelAntezanaundefined {
    background-color: orange !important;
    height: 100% !important;
  }

.ProfNoelAntezana{
    background-color: rgb(136, 0, 255) !important;
    height: 100% !important;
}

.ProfGimenaAvila{
  background-color: rgb(255, 0, 76) !important;
  height: 100% !important;
}

.ProfMarianoRafaelDellamea{
  background-color: orange !important;
  height: 100% !important;
}

.ProfJoanaArias{
  background-color: rgb(0, 140, 255) !important;
  height: 100% !important;
}

.ProfVeronicaNavarro{
  background-color: rgb(0, 255, 136) !important;
  height: 100% !important;
}

.Profismaelramirez{
  background-color: rgb(255, 242, 0) !important;
  height: 100% !important;
}

.ProfGustavoLiendro{
  background-color: rgb(255, 77, 0) !important;
  height: 100% !important;
}

.ProfDanielaSuarez{
  background-color: rgb(184, 117, 195) !important;
  height: 100% !important;
}

.ProfMiguelPascual{
  background-color: rgb(30, 132, 91) !important;
  height: 100% !important;
}

.ProfNoeliaJoanaRodriguez{
  background-color: rgb(74, 71, 164) !important;
  height: 100% !important;
}
.text-xs{
  text-shadow: 3px 3px 8px black !important;
}